* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  -webkit-font-smoothing: antialiased;
}

nav {
  mix-blend-mode: normal;
  z-index: 100;
}

nav ul {
  position: fixed;
  top: 60px; /* Adjust based on your header height */
  right: 5px;
  visibility: hidden;
  pointer-events: none;
  list-style: none;
  width: 150px; /* Adjust the width as needed */
  background-color: white; /* Add a background color */
  border: 1px solid #ccc; /* Add a border for clarity */
  padding: 10px 0; /* Add padding to the dropdown menu */
  margin-top: 5px; /* Adjust the margin to give space below the header */
  max-height: calc(100vh - 70px); /* Adjust based on header and footer height */
  overflow-y: auto; /* Add scrollbar if content exceeds max height */
}

nav ul li {
  font: bold 1rem "Work Sans", "Arial Black", Gadget, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 20px; /* Adjust padding to give space around each menu item */
}

.nav-icon {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  display: inline-block;
  height: 35px;
  position: fixed;
  top: 15px;
  right: 15px;
  width: 35px;
}

.nav-icon span {
  position: absolute;
  top: 15px;
  left: 5px;
  background: var(--text-main);
  display: block;
  height: 3px;
  right: 5px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.nav-icon span::before,
.nav-icon span::after {
  width: 100%;
  height: 3px;
  background: var(--text-main);
  content: "";
  display: block;
  left: 0;
  position: absolute;
}

.nav-icon span::before {
  top: -8px;
}

.nav-icon span::after {
  bottom: -8px;
}

.active .nav-icon span {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

